services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: medical_backend
    ports:
      - "8000:8000"
    env_file:
      - .env

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: medical_frontend
    ports:
      - "5500:80"
